	<div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:150px; height:150px">
	  <canvas id="canvas" width="150" height="150" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);" onclick="javascript:window.open(window.clickTag, '_blank')"></canvas>
	  <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:150px; height:150px; position: absolute; left: 0px; top: 0px; display: block;">
	  </div>
	</div>