<div class="Container atheles_sec_top">
<h1 class="SectionHeader__Heading Heading u-h1 product-page-title full-underline">{{ section.settings.title1 }}</h1><br/>
    {{ page.content }}
</div>

<div class="Container atheles_sec_top">
<h2 class="SectionHeader__Heading Heading u-h1 product-page-title full-underline ">{{ section.settings.title2 }}</h2>
<div class="yotpo yotpo-pictures-widget" data-gallery-id="5deeaa38524b7209acdb05f5"></div>
</div>


{% schema %}
  {
    "name": "Craig_Warner",
    "settings": [
     {
      "type": "text",
      "id": "title1",
      "label": "Heading Experience",
      "default": "EXPERIENCE"
    },
    {
      "type": "text",
      "id": "title2",
      "label": "Heading Instagram",
      "default": "INSTAGRAM"
    }
    ]
  }
{% endschema %}