<div class="shogun-root" data-shogun-id="6308e0dfbf9a2200eaf2c48b" data-shogun-site-id="bd0329a4-092b-418a-8124-31222cd25a31" data-shogun-section-id="6308e0dfbf9a2200eaf2c48b" data-shogun-section-version-id="63d1593dc7ca7500d612f723" data-shogun-platform-type="shopify" data-shogun-variant-id="63d1593fc7ca7500d612f75d" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/63d1593fc7ca7500d612f75d.css" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-82def5d3-a694-45b9-a678-992513a1487c"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-547d1393-2589-4155-bce5-42470d07d037"  class="shg-c  shg-align-center">
  <div
  class="shogun-heading-component">
  <h3>
    
      Join the 5% Nutrition family and be first to receive alerts on new content, special offers, and more!
    
  </h3>
</div>

</div>
<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-a2a1fcbd-f243-448b-ba1d-51f8cfe5c1d5"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-db3f3409-c394-4fca-9e0c-672cce7d5407"  class="shg-c  ">
  <div class="_form_1"></div><script src="https://5percentnutrition.activehosted.com/f/embed.php?id=1" type="text/javascript" charset="utf-8"></script>

</div>

      </div>
    </div>
  </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-01-13/global-assets-af6a1373b6122981aeef291e677c8727a2cb5f80.js" defer></script>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-01-13/add_ons_asset_63d1593fc7ca7500d612f75d.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Blog Newsletter Signup",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=6308e0dfbf9a2200eaf2c48b&shop=5percentnutrition.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Blog Newsletter Signup",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
