<div class="shogun-root" data-shogun-id="63ff96cb949e8000ccb7ecf4" data-shogun-site-id="bd0329a4-092b-418a-8124-31222cd25a31" data-shogun-section-id="63ff96cb949e8000ccb7ecf4" data-shogun-section-version-id="63ff97ba7d4b0300fa56fc65" data-shogun-platform-type="shopify" data-shogun-variant-id="63ff97ba7d4b0300fa56fc7b" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-2023-02-28/63ff97ba7d4b0300fa56fc7b.css" />


<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-b6656b00-ee8e-4b7a-b7f1-d9a350b3f62f"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div id="s-0c0ebbc9-6e91-4402-90d4-fa627cc04110"  class="shg-c  shg-align-center">
  <style>
/* Fixes the missing Form Checkbox */
  _form_63FF9641B9AF9_ {
    font-family: 'Acumin Pro', sans-serif;
    }
    
    #_form_63FF9641B9AF9_ input[type=checkbox] {
    line-height: normal;
    -webkit-appearance: auto; 
    border-radius: 0;
  }
</style>
<div class="_form_18"></div><script src="https://5percentnutrition.activehosted.com/f/embed.php?id=18" type="text/javascript" charset="utf-8"></script>

</div>

      </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-02-28/global-assets-ba1cd45b811b42aa44edf81e1147bfc0b5b18099.js" defer></script>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-02-28/add_ons_asset_63ff97ba7d4b0300fa56fc7b.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Manage Comms Section",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=63ff96cb949e8000ccb7ecf4&shop=5percentnutrition.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Manage Comms Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
