<div class="shogun-root" data-shogun-id="635b351806ed0200d9467e75" data-shogun-site-id="bd0329a4-092b-418a-8124-31222cd25a31" data-shogun-section-id="635b351806ed0200d9467e75" data-shogun-section-version-id="63d15e445b974a00cd163ef8" data-shogun-platform-type="shopify" data-shogun-variant-id="63d15e475b974a00cd16400b" data-region="main">
  <link rel="stylesheet" type="text/css" href="https://cdn.getshogun.com/css-4/63d15e475b974a00cd16400b.css" />

<script type="text/javascript" src="https://lib.getshogun.com/lazysizes/2.0.0/shogun-lazysizes.js" defer></script>

<div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-5a7e60f9-0562-417d-8546-30a1a6027335"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        
  <div
    class="shg-c  "
    id="s-1a5828eb-f099-4aab-bfc3-e2b15b1010e4"
    >
    <div class="shg-row" data-col-grid-mode-on="true">
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-871a6b74-7e94-4748-933b-01e627e7b99b"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-1ea3a617-e09f-4ee9-b6dc-2e6291715d44"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        

<div
  class="shg-c shogun-image-container    shg-align-left"
  style="opacity: 1;"
  id="s-670c059d-25cb-40a9-8669-9b3564f6936e">
  
    
      <img loading="lazy"
        src="https://i.shgcdn.com/3916459b-bebc-46eb-934e-ab10f2336775/-/format/auto/-/preview/3000x3000/-/quality/best/"
        width=""
        height=""
        style=""
        alt="Certified Good Manufacturing Practice"
        class="shogun-image shogun-image-normal"
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-670c059d-25cb-40a9-8669-9b3564f6936e' })
</script>

      </div>
    </div>
  </div><div id="s-7b5b30dc-b150-4a50-922d-8231d7fe6c43"  class="shg-c ProductMeta__Title product-page-title full-underline full-underline--productPageTile Heading u-h2 js-product-heading shg-align-left">
  <div
  class="shogun-heading-component">
  <h3>
    
      CERTIFIED GOOD MANUFACTURING PRACTICES
    
  </h3>
</div>

</div>
<div id="s-41fd0d26-32cc-4c7f-b2ff-adef94378a64"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 24px; text-align: left;"><span style="font-size: 18px; font-family: 'Acumin Pro';">We have carefully honed our standard operating procedures to ensure the consistent delivery of safe, high-quality supplements to our customers. We only work with manufacturers operating under strict cGMP, or Certified for Good Manufacturing Practices. Adherence to GMP, combined with our own stringent standards for quality assurance, helps us to deliver a superior product to you, our end consumer.</span></p></div>

</div>

      </div>
    </div>
  </div></div>
      <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-9d4b69ba-043d-4ede-ad9a-9e43ab192bb3"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-8c6dd9c4-8fea-4be7-8108-e3b2d9a156b7"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-a8b88cb6-13bf-4880-84f3-c48240e78881">
  
    
      <img loading="lazy"
        src="https://i.shgcdn.com/484f2a4e-eb70-4b14-9c51-d56ce9b6c3e4/-/format/auto/-/preview/3000x3000/-/quality/best/"
        width=""
        height=""
        style=""
        alt="3rd Party Tested"
        class="shogun-image "
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-a8b88cb6-13bf-4880-84f3-c48240e78881' })
</script>

      </div>
    </div>
  </div><div id="s-de6e5157-31dc-46ab-97a0-d906150ebeb6"  class="shg-c ProductMeta__Title product-page-title full-underline full-underline--productPageTile Heading u-h2 js-product-heading shg-align-left">
  <div
  class="shogun-heading-component">
  <h3>
    
      3RD-PARTY TESTED
    
  </h3>
</div>

</div>
<div id="s-f910ea36-96a2-4f80-a384-c7843af45250"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 24px; text-align: left;"><span style="font-size: 18px; font-family: 'Acumin Pro';">All of our products undergo lot testing to ensure each batch, not just the first time we release a product, matches the same great taste, quality, and performance as originally intended.</span></p></div>

</div>

      </div>
    </div>
  </div></div>
      
        <div class="shg-c-lg-4 shg-c-md-4 shg-c-sm-4 shg-c-xs-12"><div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-432b91fe-4938-41f7-bfa1-d489107f200f"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        <div
    class="shg-box-vertical-align-wrapper">
    <div
      class="shg-box shg-c    "
      
      id="s-973ce111-76f0-46ec-9081-0df2020e8dbc"
    >
      <div class="shg-box-overlay"></div><div class="shg-box-content">
        

<div
  class="shg-c shogun-image-container    shg-align-center"
  style="opacity: 1;"
  id="s-2f182b58-56dc-4659-bf55-0cfac97b8ae6">
  
    
      <img loading="lazy"
        data-src="https://i.shgcdn.com/7aa75a8d-896e-43aa-b065-cd8e4b0c7dcf/-/format/auto/-/preview/3000x3000/-/quality/best/"
        width=""
        height=""
        style=""
        alt="American Owned & Operated"
        class="shogun-image  shogun-lazyload"
      />
    
  
  
  
  
</div>

<script type="text/javascript">
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-2f182b58-56dc-4659-bf55-0cfac97b8ae6' })
</script>

      </div>
    </div>
  </div><div id="s-a4f0a6ec-e0e0-4d6d-acc2-9c3076d3bff4"  class="shg-c ProductMeta__Title product-page-title full-underline full-underline--productPageTile Heading u-h2 js-product-heading shg-align-left">
  <div
  class="shogun-heading-component">
  <h3>
    
      AMERICAN OWNED &amp; OPERATED
    
  </h3>
</div>

</div>
<div id="s-45e76c4e-1815-447f-b0a4-1b2bac767d14"  class="shg-c  ">
  <div
  class="shg-rich-text shg-theme-text-content"><p style="line-height: 24px; text-align: left;"><span style="font-size: 18px; font-family: 'Acumin Pro';">Since its inception in 2014, 5% Nutrition has extended the reach of the brand from selling apparel to selling supplements around the world. Our dedicated staff works daily to ensure customer satisfaction with our company and strive to exceed your expectations whenever and wherever possible.</span></p></div>

</div>

      </div>
    </div>
  </div></div>
      
      
      
      
    </div>
  </div>


      </div>
    </div>
  </div>
<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-01-13/global-assets-af6a1373b6122981aeef291e677c8727a2cb5f80.js" defer></script>

<script type="text/javascript" src="https://cdn.getshogun.com/js-2023-01-13/add_ons_asset_63d15e475b974a00cd16400b.js" defer></script>

  
</div>

{% schema %}
  {
    "name": "Shogun - Why Us 3-Columns",
    "settings": [
      {
        "type": "header",
        "content": "PAGE BUILDER SECTION"
      },
      {
        "type": "paragraph",
        "content": "This is a custom section built in Shogun Page Builder."
      },
      {
        "type": "paragraph",
        "content": "Edit section in [Page Builder](https://getshogun.com/shopify/deep_links/edit_section?id=635b351806ed0200d9467e75&shop=5percentnutrition.com)"
      },
      {
        "type": "header",
        "content": "HOW DOES THIS WORK?"
      },
      {
        "type": "paragraph",
        "content": "Learn more about how sections work in [Page Builder Docs](https://getshogun.com/help/en)"
      }
    ],
    "presets": [
      {
        "name": "Shogun - Why Us 3-Columns",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
